div.bezel {
    background-color: rgb(44, 59, 82);
    border: solid 5px black;
    height: 100vh;
    padding: 0.6in;
}

div.screen {
    position: relative;
    background-color: rgb(255, 179, 129);
    background-image: url("wallpaper3.jpg");
    background-size: 1430px;
    background-position: 50% 45%;
    height: 85vh;
    border-radius: 5px;
    border: solid 5px black;
}


div.taskbar {
    background-color: rgba(195, 255, 211, 0.692);
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 50px;
    padding: 1px;
    padding-left: 6px;
}

div.vscode {
    background-color: #222A38;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 30px;
    left: 50px;
    
}

div.vscodehead {
    background-color: #1D232F;
    height: 30px;
    text-align: right;
}

div.chrome {
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 850px;
    display: inline-flex;
}

div.chromehead {
    background-color: rgba(128, 170, 140, 0.993);
    height: 30px;
    width: 500px;
    text-align: right;
}

img.icon {
    width: 48px;
    margin-right: 8px;
}

p.windowheader {
    color: whitesmoke;
    text-align: center;
    display: inline-block;
}

p.code {
    color: whitesmoke;
    text-align: justify
}
