div.bezel {
    background-color: rgb(44, 59, 82);
    border: solid 5px black;
    height: 100vh;
    padding: 0.6in;
}

div.screen {
    position: relative;
    background-color: rgb(255, 179, 129);
    background-image: url("wallpaper3.jpg");
    background-size: 1430px;
    background-position: 50% 45%;
    height: 85vh;
    border-radius: 5px;
    border: solid 5px black;

}


div.taskbar {
    background-color: rgba(195, 255, 211, 0.692);
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 50px;
    padding: 1px;
    padding-left: 6px;
}

div.vscode {
    background-color: #222A38;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 30px;
    left: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

div.vscodehead {
    background-color: #1D232F;
    height: 30px;
    text-align: right;
}

div.chrome {
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 850px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

div.chromehead {
    background-color: rgba(128, 170, 140, 0.993);
    height: 30px;
    width: 500px;
    text-align: right;
}

div#debugwin {
    height: 200px;
    width: 200px;
    background-color: #222A38;
    position: absolute;
    top: 200px;
    left: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
    display: none;
}

div#debugwinhead {
    background-color: #1D232F;
    height: 30px;
}

img.icon {
    width: 48px;
    margin-right: 8px;
}

p.windowheader {
    color: whitesmoke;
    text-align: center;
    display: inline-block;
}

p.code {
    color: whitesmoke;
    text-align: justify
}

#googlelogo {
    position: relative;
    left: 125px;
    top: 100px;
}

#searchbar {
    position: relative;
    left: 125px;
    top: 110px;
    border: 2px solid black;
    border-radius: 30px;
    width: 275px;
    height: 50px;
    padding: 10px;
    padding-left: 15px;
}

#code {
    display: none;
}

.yesno {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 5px;
    padding: 5px;
}

.yesno:hover {
    color: white;
}

.startbutton {
    background-color: rgba(255, 255, 255, 0.219);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 35%;
}